.bgabout{
    background-color: #FFA1A1;
}
.about {
    margin: 30px auto 0px auto;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}


.aboutimage img {
    height: 190px;
    animation-name: rotate;
    transform: rotateY(0deg);
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease;
    padding-right: 30px;

}

.aboutinfo {
    padding: 30px;
    border-left: 2px solid black;
}

.aboutinfo h1 {
    text-decoration: underline;
    margin-bottom: 10px;
}

@keyframes rotate {
    20% {
        transform: rotateY(360deg);
    }

    90% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0deg);
    }


}

.aboutMe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border: 2PX solid black;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    border-radius: 7px;
    margin: 20px 0px 5px 0px;
    padding: 10px;
    font-size: 1.2rem;
    transition: background-color 0.3s linear;
    transition: color 0.5s linear;
}

.aboutMe a:hover {

    background-color: rgb(0, 0, 0);
    color: #FFA1A1;

}



@media only screen and (max-width: 800px) {
   .about{
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width: 90%;
       padding: 30px 10px;
       text-align: center;
   }

   .aboutimage img{
    padding-right: 0px;
   }

   .aboutinfo {
    padding: 0px 30px;
    border-left: none;
}

}